.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.login-logo {
    width: 70px;
    height: 70px;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* Center container */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form styles */
form {
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 24px;
    background-color: rgba(249, 249, 249, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.error-heading {
    color: red;
    font-style: italic;
}

/* INPUT fields *//* INPUT fields *//* INPUT fields *//* INPUT fields *//* INPUT fields *//* INPUT fields *//* INPUT fields */
.txt_field {
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
}

.txt_field input {
    width: 100%;
    padding: 10px 0;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: black;
    font-size: 16px;
}

.txt_field label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: black;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 14px;
    color: #007bff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    form {
        width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}
.eye-icon i {
    font-size: 20px;
}